{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}
<div class="yellow">
<h1 style="margin-bottom: 30px; font-size: 25px;""> Product Vision</h1>

    
    <div class="yellow-container">
        <h2 style="display: inline; margin-right: 40px;">For</h2>
        <p style="display: inline; font-size: 18px;">
            the Discipline Office
        </p>
    </div>
    
    <div class="yellow-container">
        <h2 style="display: inline; margin-right: 40px;">Who</h2>
        <p style="display: inline; font-size: 18px;">
            Has a problem for managing and manually issuing dress code violation slips.
        </p>
    </div>
    
    <div class="yellow-container">
        <h2 style="display: inline; margin-right: 40px;">The</h2>
        <p style="display: inline; font-size: 18px;">
            ABS System is an automated system for managing and issuing dress code violation slips.
        </p>
    </div>
    
    <div class="yellow-container">
        <h2 style="display: inline; margin-right: 40px;">That</h2>
        <p style="display: inline; font-size: 18px;">
            Issues tickets efficiently
        </p>
    </div>
    
    <div class="yellow-container">
        <h2 style="display: inline; margin-right: 40px;">Unlike</h2>
        <p style="display: inline; font-size: 18px;">
            Manual methods which take too long.
        </p>
    </div>
    
    <div class="yellow-container">
        <h2 style="display: inline; margin-right: 40px;">Our</h2>
        <p style="display: inline; font-size: 18px;">
            Solution allows instant violation slip issuance.
        </p>
    </div>

</div>

{% endblock content %}