{% extends '_base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<div class="yellow">
<h1 style="margin-bottom: 30px; font-size: 25px;"">Product Vision</h1>

    
    <div class="yellow-container">
        <h2 style="display: inline; margin-right: 40px;">For</h2>
        <p style="display: inline; font-size: 18px;">
            the Discipline Office
        </p>
    </div>
    
    <div class="yellow-container">
        <h2 style="display: inline; margin-right: 40px;">Who</h2>
        <p style="display: inline; font-size: 18px;">
            Has a problem for managing and manually issuing dress code violation slips.
        </p>
    </div>
    
    <div class="yellow-container">
        <h2 style="display: inline; margin-right: 40px;">The</h2>
        <p style="display: inline; font-size: 18px;">
            ABS System is an automated system for managing and issuing dress code violation slips.
        </p>
    </div>
    
    <div class="yellow-container">
        <h2 style="display: inline; margin-right: 40px;">That</h2>
        <p style="display: inline; font-size: 18px;">
            Issues tickets efficiently
        </p>
    </div>
    
    <div class="yellow-container">
        <h2 style="display: inline; margin-right: 40px;">Unlike</h2>
        <p style="display: inline; font-size: 18px;">
            Manual methods which take too long.
        </p>
    </div>
    
    <div class="yellow-container">
        <h2 style="display: inline; margin-right: 40px;">Our</h2>
        <p style="display: inline; font-size: 18px;">
            Solution allows instant violation slip issuance.
        </p>
    </div>

</div>

<div class="proj">
<h1 style="margin-bottom: 30px; font-size: 25px;""> Project Context</h1>

    <div class="yellow-container">
        <pre style="display: inline; font-size: 18px;">
The current blue slip system in APC is done manually, from the writing of credentials of 
the students to the delivering of the blue slips to the DO.

The developers’ proposed system is an automated blue slip issuance system that, on 
the security guard’s side, will utilize the existing Quick Response (QR) codes on the 
students’ IDs in getting the needed credentials by scanning, and a camera to detect and 
capture the dress code violation of the student, which is submitted through the system 
for reviewing and processing of the Discipline Office Head.
        </pre>
    </div>
</div>
{% endblock content %}

