{% extends '_base.html' %}
{% load tz %}

{% block title %}Admin Home{% endblock %}

{% block content %}
<div class="dashboard"> <!--dashboard-->
    <div class="sidebar"> <!--sidebar-->
        <h2>Dashboard</h2>
        <ul>
            <li><a href="#">Overview</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </div>

<div class="main-content">
    <div class="header">
        {% if user.is_authenticated %}
            {% with current_hour=now|localtime:"%H" %}
                {% if current_hour|int < 12 %}
                    <h2>Good Morning, {{user.username }}!</h2>
                {% elif current_hour|int < 18 %}
                    <h2>Good Afternoon, {{user.username }}!</h2>
                {% else %}
                    <h2>Good Evening, {{user.username }}!</h2>
                {% endif %}
            {% endwidth %}
        {% endif %}
</div>