{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="pricing-header">
  <img src="{% static 'images/mini-logo.png' %}" class="img-fluid" width="35%" alt="APC logo"/>
  {% if user.is_authenticated %}
  <h2 class="greeting py-3">Welcome, {{ user.username }}!</h2>
</div>
<div class="options1">
  <img src="{% static 'images/appeal.webp' %}" width="100%" alt="Appeal logo"/>
  <button class="appeal" onclick="window.location.href='https://expert-disco-g9prq7qq5q9hw7g9-8000.app.github.dev/about/'">File Appeal</button>
</div>
<div class="options2">
    <img src="{% static 'images/glass.webp' %}" width="100%" alt="Status logo"/>
    <button class="appeal" onclick="window.location.href='https://expert-disco-g9prq7qq5q9hw7g9-8000.app.github.dev/about/'">View Appeal Status</button>
</div>
  {% else %}
  <h2 class="greeting py-3">Welcome, User!</h2>
</div>
{% endif %}
{% endblock content %}