{% extends '_base.html' %}

{% block title %}View Status{% endblock %}

{% block content %}

<div class="yellow">
    <h1 style="margin-bottom: 30px; font-size: 25px;"">Appeal Status</h1>
    
        
        <div class="yellow-container">
            <h2 style="display: inline; margin-right: 40px;">Oct. 23, 2024</h2>
            <p style="display: inline; font-size: 18px;">
                Pending
            </p>
        </div>

        <div class="yellow-container">
            <h2 style="display: inline; margin-right: 40px;">Oct. 7, 2024</h2>
            <p style="display: inline; font-size: 18px;">
                Approved
            </p>
        </div>

        <div class="yellow-container">
            <h2 style="display: inline; margin-right: 40px;">Sept. 19, 2024</h2>
            <p style="display: inline; font-size: 18px;">
                Denied
            </p>
        </div>

{% endblock content %}